<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Manage Customers</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Customer Roles</th>
                    <th>Company Name</th>
                    <th>Active</th>
                    <th>Edit</th>
                </tr>

                <tr>
                    <td>Mail</td>
                    <td>FullName</td>
                    <td>
                        <div>
                            <span class="label label-default">Default</span>
                        </div>
                    </td>
                    <td>Company</td>
                    <td>Active</td>
                    <td>
                        <a href="">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>Mail</td>
                    <td>FullName</td>
                    <td>
                        <div>
                            <span class="label label-default">Default</span>
                        </div>
                    </td>
                    <td>Company</td>
                    <td>Active</td>
                    <td>
                        <a href="">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>Mail</td>
                    <td>FullName</td>
                    <td>
                        <div>
                            <span class="label label-default">Default</span>
                        </div>
                    </td>
                    <td>Company</td>
                    <td>Active</td>
                    <td>
                        <a href="">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>





