body {
  
}

/* Set padding to keep content from hitting the edges */
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 425px;
}

.alert{
    margin-bottom: 0px;
}

.ajax-loading{
    background: #ccc url("../Content/img/ajax-loader.gif") 50% 50% no-repeat;
    display: none;
    position: absolute;
    text-align: center;
    z-index: 1000;
    border: 1px dashed #CCC;
}